@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

@keyframes bounce-x {
  0%,
  100% {
    transform: translatex(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.group:hover .group-hover\:bounce-x {
  animation: bounce-x 1s infinite;
}

.swpr-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}
@media (min-width: 1024px) {
  .swpr-button {
    width: 40px;
    height: 40px;
  }
}
.swpr-prev {
  left: 0;
}
.swpr-next {
  right: 0;
}
.carousel2.swiper {
  width: 360px;
  height: 459px;
}
.carousel2 .swiper-slide {
  padding: 14px;
  background: #ffffff;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  border-radius: 10px;
}
